@media only screen and (max-width: 459px) {
		#fblikepop{
			width:250px !important;
		}
	}

#fblikepop{
	background-color:#fff;
	display:none;
	position:fixed;
	top:200px;
	_position:absolute; /* hack for IE 6*/
	width:450px;
	border:10px solid #5f5f5f;
	z-index:200;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius:7px;
	margin:0pt;
	padding:0pt;
	color:#333333;
	text-align:left;
	font-family:arial,sans-serif;
	font-size:13px;
}

#fblikepop body{
	background:#fff none repeat scroll 0%;
	line-height:1;
	margin:0pt;
	height:100%;
}

.fbflush{
	cursor: pointer;
	font-size:11px !important;
	color:#FFF !important;
	text-decoration:none !important;
	border:0 !important;
}

#fblikebg{
	display:none;
	position:fixed;
	_position:absolute; /* hack for IE 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000; 
	z-index:100;
}

#fblikepop #closeable{
	float:right;
	margin:7px 15px 0 0;
}

#fblikepop h1{ 
	background:#6D84B4 none repeat scroll 0 0;
	border-top:1px solid #3B5998;
	border-left:1px solid #3B5998;
	border-right:1px solid #3B5998;
	color:#FFFFFF !important;
	font-size:14px !important;
	font-weight:normal !important;
	padding:5px !important;
	margin:0 !important;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

#fblikepop #actionHolder{
	height:30px;
	overflow:hidden;
}

#fblikepop #buttonArea{
	background:#F2F2F2;
	border-top:1px solid #CCCCCC;
	padding:10px;
	min-height:50px;
}

#fblikepop #buttonArea a{
	color:#999999 !important;
	text-decoration:none !important;
	border:0 !important;
	font-size:10px !important;
}

#fblikepop #buttonArea a:hover{
	color:#333 !important;
	text-decoration:none !important;
	border:0 !important;
}

#fblikepop #popupMessage{
	font-size:12px !important;
	font-weight:normal !important;
	line-height:22px;
	padding:8px;
	background:#fff !important;
}

#fblikepop #counter-display{
	float:right;
	font-size:11px !important;
	font-weight:normal !important;
	margin:5px 0 0 0;
	text-align:right;
	line-height:16px;
}