html, body {
	min-height:100%;
	min-width:100%;
    margin: 0;
    padding: 0;
}
body {
	line-height:14px;
	padding-bottom:21px;
}

body.popup {
	min-width:0px;
}

body,input,button,select,textarea,td,th,tr,table,button {

}

:focus {
	outline:none !important;
}

input:invalid {
	background-color:red;
	border:1px solid #FFF;
}

input[type="submit"],input[type="button"],button {
	cursor:pointer;
}

table {
	border-collapse: separate;
	border-spacing: 2px;
	empty-cells:show
}

table table,img {
	border:0
}

table {
	margin:0 auto
}

td {
	padding: 2px 3px;
	vertical-align: middle;
}

th input {
	margin:0
}

th {
	height: 14px;
	padding:4px 6px;
}

textarea{
	width:99%;
}

textarea.tinymce{
	width:100%
}

.res_max,.res_current,.res_current_max {
	min-width:90px
}
.res_current{
	text-align:left;
}
.res_current img{
	float:left;
}
.res_current span{
	margin-left:10px;
	line-height:25px;
}
.res_name {
	float:none;
}

.table519{
	min-width:519px !important;
	width:519px !important
}

.table569{
	min-width:569px !important;
	width:569px !important
}

.build_submit {
    max-width: 100px;
	padding:0;
    word-wrap: break-word;
	white-space: normal;
}

.build_submit:hover {
	text-decoration:underline;
}

.build_form {
	display:inline;
}

.onlist {
    max-width: 100%;
	margin:0;
	padding:0;
}

.onlist:hover {
	text-decoration:underline;
}

.shortcut-edit {
	display:none;
}

.clear {
	clear:both;
}

/** HEADER **/
/*reemo*/
#full_page{
	min-height:100%;
	position:relative;
	margin:0;
	padding:0;
	min-width:970xp;
	clear:both;
	width:auto;
}
#reemo_top_nav{
	width:100%;
	position:relative;	
	height:35px;
	background-color:#333;
	background-image: url(reemo/top_nav_bg.png);
	background-repeat:repeat-x;
	min-width:970xp;
}
#reemo_top_nav a{
	margin-left:5px;
	margin-right:0;
	display:block;
	float:left;
	margin-top:4px;
}
a img.top_nav_battn{
	color: #ffffff;
	padding: 2px 2px;
	background:#000;
	background: -moz-linear-gradient(
		top,
		#6b6b6b 0%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#6b6b6b),
		to(#000000));
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #000000;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 3px rgba(255,255,255,1);
	height:15px;
}
a img.top_nav_battn:hover{
	color:#FFF;
	border: 1px solid #999999;
}
span#new_email{
	display:block;
	float:right;
	margin-top:2px;
	margin-left:2PX;
	color:#F00;
	font-weight:bold;
	text-shadow:
		0px 0px 2px rgba(000,000,000,1),
		0px 0px 4px rgba(000,000,000,1),
		0px 0px 6px rgba(000,000,000,1),
		0px 0px 8px rgba(000,000,000,1);
}
#reemo_top_nav div#battn_left{
	float:left;
}
#reemo_top_nav div.battn_right{
	float:right;
	margin-right:10px;
}
#planetSelectorWrapper {
	width:190px;
	float:left;
	padding-top:5px;
	padding-left:30px;
}

#planetSelector {
	float:left;
	display:block;
	color:#F07800;
	width:180px;
	padding:1px 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor:pointer;
	border:#CCC solid 1px;
	outline:0 !important;
}
a.off{
	background:url(reemo/off.png)  no-repeat 0 0;
	width:8px;
	height:10px;
	display:block;
	float:left;
}
a.off:hover{
	background:url(reemo/off.png)  no-repeat 0 -10px;
}
/*/reemo*/
#header{
	width:100%;
	margin:0 auto; 	
}

#headerTable {
	max-width:100%;
}

#planetImage{
	width:50px;
}

#planetImage > img{
	width:50px;
	height:50px;
}

#resourceWrapper{
	height:90px;
	text-align:center;
	max-width:98%;
	width:98%;
	margin:0;
	padding-top:12px !important;
}

#resourceTable{
	height:80px;
	max-width:100%;
	width:100%
}

#resourceTable td{
	margin:0 5px;
	min-width:130px;
}

#resourceTable img {
    display: block;
    height: 22px;
    margin: 0 auto;
    width: 42px;
}

#disclamer {
	position: relative;
	top: 100px;
	width: 100%;
	text-align: center;
}
#bit_batns{
	width:190px;
	height:30px;
	margin:0 auto;
	margin-top:23px;
}
.menu-head {
	display:block;
	height:78px;
	width:200px;
	border:none;
	clear:both;
	overflow:hidden;
}

.menucat-head, .menu-footer{
	height:20px;
	width:200px;
	border:none;
	clear:both;
}
.menu-footer{
	height:30px;
}
.menucat-head span{
	line-height:20px;
	display:block;
	padding-left:25px;
	text-align:left;
	color:#555;
}

#options select {
	max-width:170px;
}
/* CONTENT */

#page {
	margin-left:210px;
	padding:0;
}

#content, .infobox {
	margin:10px 10px 0 ;
	padding:10px 10px 5px 10px;
}

.full #content > table, .full form > table {
	max-width:95%;
	width:80%;
}

.left{
	text-align:left
}

.right{
	text-align:right
}

.center{
	text-align:center
}

.top{
	vertical-align:top
}


.tooltip, .tooltip_sticky {
	cursor: pointer;
}

div#trader {
	margin:14px auto;
	height:55px;
	width:440px;
}

div#trader + div {
	clear:both;
}

.trader_col {
	margin:0 5px;
	float:left;
	width:100px;
}

.globalWarning {
	background-color: #FFFFDD;
	border: 1px solid #F7DF92;
	color: #000000;
	margin: 0;
	padding: 5px;
	text-align: center;	
}

.globalWarning a:hover {
	text-decoration:underline;
}

.globalWarning a{
	cursor:pointer;
	color:#D20000;
}

.trader_col label:hover{
	cursor:pointer;
}
.p_res{
	font-weight:bold;
	color:#F30;
}
.poloses{
	border-right:#333 1px  solid !important;
	padding-right:5px !important;
}
.poloses_t{
	border-right:#333 1px  solid !important;
	border-top: #333 1px solid !important;
	padding-right:5px !important;
}
.porob{
	border-spacing:0 !important;
}
.porob td{
	padding-left:5px !important;
}
.tip {
	display:none;
	padding:4px;
	position:absolute;
	z-index:1000;
	max-width: 500px;
}
.ui-progressbar-value {
	margin:0;
}

.infobox {
    border: 2px solid red;
    padding: 2px 5px;
    text-align: center;
}

.shortcut-colum{
	position:relative;
}

.shortcut-delete {
	position:absolute;
	z-index:1;
	top:5px;
	display:none;
	right:3px;
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../images/false.png) scroll no-repeat 0 0 transparent;
}

.shortcut-colum:hover .shortcut-delete{
	display:block;
}
.spyRaport{
	width:688px;
}
.spyRaportFooter,
.spyRaportContainer {
	clear:both;
}

.spyRaportContainerRow.first {
	clear:both;
}

.spyRaportContainerHead {
	font-weight:bold;
	padding:3px;
	color:#8e9394;
	background:#091d2e;
	border-bottom:1px solid #000;
}
.spyRaportContainerHead span{
	display:block;
	cursor:pointer;
}
.spyRaportContainerCellImg {
	float:left;
	width:35px;
	margin:0;
	height:35px;
	background:#000000;
border-bottom:1px #000 solid;
	overflow:hidden;
	color:#FFF;
	border-top:none;
	border-right:none;
}
.spyRaportContainerCell1{
	width:26%;
	padding:2px;
	float:left;
	overflow:hidden;
	color:#FFF;
	border-top:none;
	border-right:none;
}
.spyRaportContainerCell2{
	width:22%;
	float:left;
	overflow:hidden;
	color:#FFF;
	padding:2px;
}
.spyRaportContainerCell {
	float:left;
	width:180px;
	margin:0;
	height:35px;
	line-height:35px;
	text-align:left;
	overflow:hidden;
	color:#FFF;
	border-top:none;
	border-bottom:1px #000 solid;
	padding-left:3px;
	color:#CCC;
}
.spyRaportContainerCell{
	float:left;
}

.spyRaportFooter{
	text-align:center;
	padding-top:8px;
}

table.tablesorter thead {
	position:relative;
}

table.tablesorter thead tr .header {
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	color:#04ba5a;
}

table.tablesorter thead tr .headerSortDown {
	color:#cf0202;
} 

.defaultSkin table.mceLayout {
	border-spacing: 0;
	width:100% !important;
}
	
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	line-height: 1.5;
}

.ui-autocomplete-item {
	cursor:pointer;
}
.ico_res_spio{
	border:1px solid #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-right:3px;
}

.text_res_spio_m{
	color:#a47d7a;
}
.text_res_spio_k{
	color:#5ca6aa;
}
.text_res_spio_d{
	color:#339966;
}
.text_res_spio_e{
	color:#913399;
}

.spyRaportHead{
	line-height:18px;
}

@media screen and (max-width: 1165px) {
	body {
		min-width: 0;
	}
	
	#resourceTable td{
		min-width: 100px;
	}
}
/*Planet ALL*/
#planet_menu{
	position:fixed;
	left:0;
	bottom:0;
	padding:0;
	margin:0;
	width:100%;
	max-width:100%;
	z-index:10;
}
#btn_planet_all{
	width:50px;
	height:51px;
	z-index:10;
	position:absolute;
	right:0;
	top:-50px;
}
#table_planet{
	z-index:10;
	float:left;
	width:100%;
	border-spacing:0 !important;
}
.planeta{
	float:left;
	display:block;
	border:#000 1px solid !important;
	margin-right:2px;
}
.planeta:hover{
	border:#333 1px solid !important;
}
.planeta td, .planeta tr{
	border:none !important;
}
td.name{
	style="text-align:left; 
	height:13px; 
	color:#F90; 
	font-weight:bold;
}
/*owerwiv*/
#owerwiv_planet{
	width:654px;
	height:300px;
	position:relative;
	background-position:center;
	background-repeat:no-repeat;
}
.owerwiv_planet{
	position:absolute;
	padding:5px;
}
.build{
	background:rgba(0,0,0,0.8);
	border:#000 1px solid;
	border-left:none;
}
.build span{
	text-align:left;
	font-weight:bold;
	display:block;
	color:#4E7989;
}
.moon{
	display:block;
	padding-left:10px;
	padding-bottom:10px;
	background:rgba(0,0,0,0.6);
	border:#000 1px solid;
	border-left:none;
	border-bottom-left-radius:15px;
	min-width:80px;
}
/*Vverh*/
#message_v{
	position:absolute;
	padding:20px;
	padding-bottom:8px;
	display: block;
	z-index: 999;
	opacity: .9;
	top: -43px;
	left: 5px;
	width:auto;
	border:1px solid #000;
	border-bottom:none;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	background-color: rgba(13, 16, 20, 0.9);
	text-align: center;
	color:#FFF;
}
a.bakc{
	display:inline-block;
	float:right;
}
/*new interfeis*/
.b_box{
	 float:left;
	 width:100%;
	 height:100%;
}
.b_box td{
	
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------SKILSS--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
table.skils{
	
	border:none !important;
	caption-side:0 !important;
	padding:10px !important;
	border-collapse:inherit;
	border-spacing:0 !important;

}
table.skils tr, table.skils td{
	margin:0 !important;
	border:none !important;
	caption-side:0 !important;
	padding:0 !important;
	border-collapse:inherit;
	border-spacing:0 !important;
}
a.skils{
	display:block;
	width:59px;
	height:59px;
	margin:3px !important;
	position:relative;
	cursor:pointer;
}
a.skils .lvl{
	position:absolute;
	padding:3px;
	padding-top:2px;
	border-bottom-left-radius:2px;
	background:rgba(0,0,21,0.7);
	color:#FFF;
	display:block;
	right:0;
	top:0;
	font-weight:bold;
}
.skils_bg{
	background:url(../images/skils/bg.png) no-repeat !important;
	width:65px !important;
	height:65px !important;
}
.skils_bg_a{
	background:url(../images/skils/bg_a.png) no-repeat !important;
	width:65px !important;
	height:65px !important;
}
.skils_p{
	background:none !important;
	width:65px;
}
.skils_bg_vniz{
	background:url(../images/skils/bg_vniz.png) no-repeat !important;
	width:65px !important;
	height:40px !important;
}
.skils_bg_vniz_a{
	background:url(../images/skils/bg_vniz_a.png) no-repeat !important;
	width:65px !important;
	height:40px !important;
}
.skils_bg_l_vniz{
	background:url(../images/skils/bg_l_vniz.png) no-repeat !important;
	width:130px !important;
	height:105px !important;
}
.skils_bg_l_vniz_a{
	background:url(../images/skils/bg_l_vniz_a.png) no-repeat !important;
	width:130px !important;
	height:105px !important;
}
.skils_bg_r_vniz{
	background:url(../images/skils/bg_r_vniz.png) no-repeat !important;
	width:130px !important;
	height:105px !important;
}
.skils_bg_r_vniz_a{
	background:url(../images/skils/bg_r_vniz_a.png) no-repeat !important;
	width:130px !important;
	height:105px !important;
}
.skils_bg_bl_vniz{
	background:url(../images/skils/bg_bl_vniz.png) no-repeat !important;
	width:195px !important;
	height:105px !important;
}
.skils_bg_bl_vniz_a{
	background:url(../images/skils/bg_bl_vniz_a.png) no-repeat !important;
	width:195px !important;
	height:105px !important;
}
.skils_bg_bl_vniz1{
	background:url(../images/skils/bg_bl_vniz1.png) no-repeat !important;
	width:65px !important;
	height:65px !important;
}
.skils_bg_bl_vniz1_a{
	background:url(../images/skils/bg_bl_vniz1_a.png) no-repeat !important;
	width:65px !important;
	height:65px !important;
}
.skils_bg_bl_vniz2{
	background:url(../images/skils/bg_bl_vniz2.png) no-repeat !important;
	width:130px !important;
	height:105px !important;
}
.skils_bg_bl_vniz2_a{
	background:url(../images/skils/bg_bl_vniz2_a.png) no-repeat !important;
	width:130px !important;
	height:105px !important;
}
.skils_bg_bl_vniz2_2{
	background:url(../images/skils/bg_bl_vniz2_2.png) no-repeat !important;
	width:130px !important;
	height:65px !important;
}
.skils_bg_bl_vniz2_2_a{
	background:url(../images/skils/bg_bl_vniz2_2_a.png) no-repeat !important;
	width:130px !important;
	height:65px !important;
}
.skils_bg_bl_vniz3_2{
	background:url(../images/skils/bg_bl_vniz3_2.png) no-repeat !important;
	width:195px !important;
	height:65px !important;
}
.skils_bg_bl_vniz3_2_a{
	background:url(../images/skils/bg_bl_vniz3_2_a.png) no-repeat !important;
	width:195px !important;
	height:65px !important;
}
.skils_bg_br_vniz{
	background:url(../images/skils/bg_br_vniz.png) no-repeat !important;
	width:195px !important;
	height:105px !important;
}
.skils_bg_br_vniz_a{
	background:url(../images/skils/bg_br_vniz_a.png) no-repeat !important;
	width:195px !important;
	height:105px !important;
}
.skils_bg_br_vniz1{
	background:url(../images/skils/bg_br_vniz1.png) no-repeat !important;
	width:65px !important;
	height:65px !important;
}
.skils_bg_br_vniz1_a{
	background:url(../images/skils/bg_br_vniz1_a.png) no-repeat !important;
	width:65px !important;
	height:65px !important;
}
.skils_bg_br_vniz2{
	background:url(../images/skils/bg_br_vniz2.png) no-repeat !important;
	width:130px !important;
	height:105px !important;
}
.skils_bg_br_vniz2_a{
	background:url(../images/skils/bg_br_vniz2_a.png) no-repeat !important;
	width:130px !important;
	height:105px !important;
}
.skils_bg_br_vniz2_2{
	background:url(../images/skils/bg_br_vniz2_2.png) no-repeat !important;
	width:130px !important;
	height:65px !important;
}
.skils_bg_br_vniz2_2_a{
	background:url(../images/skils/bg_br_vniz2_2_a.png) no-repeat !important;
	width:130px !important;
	height:65px !important;
}
.skils_bg_br_vniz3_2{
	background:url(../images/skils/bg_br_vniz3_2.png) no-repeat !important;
	width:195px !important;
	height:65px !important;
}
.skils_bg_br_vniz3_2_a{
	background:url(../images/skils/bg_br_vniz3_2_a.png) no-repeat !important;
	width:195px !important;
	height:65px !important;
}
.skils_bg_t_vniz{
	background:url(../images/skils/bg_t_vniz.png) no-repeat !important;
	width:195px !important;
	height:40px !important;
}
.skils_bg_t_vniz_a{
	background:url(../images/skils/bg_t_vniz_a.png) no-repeat !important;
	width:195px !important;
	height:40px !important;
}
.skils_bg_t_vniz_l{
	background:url(../images/skils/bg_t_vniz_l.png) no-repeat !important;
	width:195px !important;
	height:40px !important;
}
.skils_bg_t_vniz_l_a{
	background:url(../images/skils/bg_t_vniz_l_a.png) no-repeat !important;
	width:195px !important;
	height:40px !important;
}
.skils_bg_t_big_vniz{
	background:url(../images/skils/bg_t_big_vniz.png) no-repeat !important;
	width:195px !important;
	height:40px !important;
}
.skils_bg_t_big_vniz_a{
	background:url(../images/skils/bg_t_big_vniz_a.png) no-repeat !important;
	width:195px !important;
	height:40px !important;
}
.skils_bg_z_l_vniz{
	background:url(../images/skils/bg_z_l_vniz.png) no-repeat !important;
	width:130px !important;
	height:40px !important;
}
.skils_bg_z_l_vniz_a{
	background:url(../images/skils/bg_z_l_vniz_a.png) no-repeat !important;
	width:130px !important;
	height:40px !important;
}
.skils_bg_z_r_vniz{
	background:url(../images/skils/bg_z_r_vniz.png) no-repeat !important;
	width:130px !important;
	height:40px !important;
}
.skils_bg_z_r_vniz_a{
	background:url(../images/skils/bg_z_r_vniz_a.png) no-repeat !important;
	width:130px !important;
	height:40px !important;
}
#chat_box{
	position:relative;
	margin:0 5%;
}
#chat_box table{
	width:100% !important;
	max-width:100% !important;
}
.chat_row{
	background:rgba(0,2,10,0.7);
	border-bottom:1px solid #222;
	padding:2px 0;	
	text-align:left;
	width:100%;
	overflow:hidden;
	word-break:break-all;
	word-wrap:break-word;
}
.chat_row span{
	font-weight:bold;
}
.chat_row span.tooltip{
	cursor:help !important;
	color:#333;
	font-weight:100;
}
#chat_box span.admin{
	color:#0C0;
}
#chat_box #online_cat{
	width:155px;
	word-break:break-all;
	word-wrap:break-word;
	padding:10px 5px 5px 10px;
	background:rgba(8,13,18,0.9);
	height: 370px;
	float:right;
	overflow:auto;
	text-align:left;
	line-height:18px;
	font-size:13px;
}
#chat_box .bottomchat{
	background:rgba(0,2,10,0.8) !important;
}
#chat_box .bottomchat img{
	cursor:pointer;
}